* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 20px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.app .app__columns {
  display: flex;
  justify-content: space-between;
}

.app .app__main {
  flex: 1 1 80%;
}

.app .app__sidebar {
  flex: 1 1 20%;
}
