* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: 'Heebo', sans-serif;
  background-color: #edf0f3;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 20px;
}

h2 {
  font-size: 27px;
}

input, textarea {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
}

textarea {
  resize: none;
}

input:focus-visible, textarea:focus-visible {
  outline: none;
}

button {
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  padding: 7px 20px;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: .3s;
}

button:hover {
  color: #000;
  background-color: #fff;
}

.btn {
  background-color: #3e50b5;
  border-color: #3e50b5;
}

.btn:hover {
  color: #3e50b5;
}

.btn-cancel {
  background-color: #f70057;
  border-color: #f70057;
}

.btn-cancel:hover {
  color: #f70057;
}

.btn-like {
  width: 24px;
  height: 20px;
  font-size: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-image: url(/public/like-empty.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-like:hover,
.btn-like--filled {
  background-image: url(/public/like-filled.png);
}

.btn-remove {
  display: flex;
  align-items: center;
  background: transparent;
  color: #647dc8;
  border: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
}

.btn-remove:before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 18px;
  background-color: transparent;
  background-image: url(/public/trash.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 7px;
}

.btn-remove:hover {
  color: #647dc8;
  opacity: .5;
}

.container {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 20px;
}
