.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5%;
}

.posts h1 {
  width: 100%;
  text-align: center;
  font-size: 32px;
}

.posts .post {
  flex: 0 1 31%;
}

@media (max-width: 1200px) {
  .posts .post {
    flex-basis: 48.25%;
  }
}

@media (max-width: 540px) {
  .posts {
    gap: 0;
  }

  .posts .post {
    flex-basis: 100%;
  } 
}