.post {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 25%);
  background-color: #fff;
  margin-bottom: 30px;
  transition: .3s;
}

.post:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 80%);
}

.post .post__intro {
  position: relative;
  padding-bottom: 56%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.post .post__intro:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 40%);
}

.post .post__heading {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 45px;
}

.post .post__heading h4 {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 5px;
}

.post .post__heading p {
  font-size: 14px;
  font-weight: 300;
}

.post .post__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.post .post__link:before {
  content: none;
}

.post .post__edit {
  position: absolute;
  top: 15px;
  right: 15px;
}

.post .post__details {
  position: relative;
  flex-grow: 1;
  padding: 15px 15px 50px;
}

.post .post__tags {
  color: #989898;
  margin-bottom: 10px;
}

.post .post__details h3 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 23px;
  color: #3e50b5
}

.post .post__description {
  margin-bottom: 0;
}

.post .post__actions {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.post .post__like {
  display: flex;
}

.post .post__likes-count {
  margin: 1px 9px 0 0;
  color: #647dc8;
}

.post--no-buttons .post__details {
  padding: 15px;
}