.header {
    padding: 15px 0;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 25%);
    background-color: #fff;
}

.header .header__columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header__title a:hover:before {
    width: 0;
}

.header .header__navigation {
    display: flex;
    align-items: center;
}

.header .header__logged-user {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.header .header__first-name-letter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #00579c;
    color: #fff;
    border-radius: 50%;
    font-size: 22px;
    margin-right: 20px;
}

.header .header__logged-user h3 {
    margin-bottom: 0;
}

.header h2 {
    margin: 3px 0 0;
    line-height: 1;
    font-size: 35px;
    color: #3e50b5;
}

@media (max-width: 540px) {
    .header h2 {
        font-size: 28px;
        line-height: 1.4;
    }
}
