.recommended-posts {
  margin-top: 30px;
}

.recommended-posts .recommended__heading h2 {
  color: #3e50b5;
}

.recommended-posts .recommended__posts {
  display: flex;
  gap: 1%;
}

.recommended-posts .post {
  flex: 0 1 24%;
}

@media (max-width: 1200px) {
  .recommended-posts .recommended__posts {
    flex-wrap: wrap;
  }

  .recommended-posts .post {
    flex: 0 1 49%;
  }
}

@media (max-width: 540px) {
  h2 {
    font-size: 24px;
  }

  .recommended-posts .post {
    flex: 0 1 100%;
  }
}